@charset "utf-8";
.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    font-family: 'Pavanam', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.cards * {
    box-sizing: border-box;
    border: 0px none white;
}

.card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__content {
    height: 130px;
    line-height: 1.20;
    font-size: 0.75em;
    padding: 15px;
    background: #fafafa;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.card__content>p:first-of-type {
    margin-top: 0;
    font-size: 12px;
    color: #0B1596;
}

.card__content>p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    /* color: #64968c; */
    color: #0B1596;
    font-size: small;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: none;
    /* text-decoration: underline; 
    font-weight: bold; */
}

.text-over-container {
    position: relative;
    max-width: 1000px;
    /* Maximum width */
    margin: 0 auto;
    /* Center it */
}

.text-over-container .text-over-content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    /* background: rgb(0, 0, 0); */
    /* Fallback color */
    background: rgba(0, 0, 0, 0.2);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 99%;
    /* Full width */
    height: -50%;
    padding: 5px;
    /* Some padding */
}