@charset "utf-8";
body {
    margin: 0;
}

.listc li {
    /* padding-bottom: 10px !important; */
    padding-bottom: 0px;
}

form.example button {
    width: 17%;
    height: 37px;
    background: none;
    color: grey;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 3px 3px 0px;
    position: absolute;
    top: 0px;
    float: right;
    right: 0.5px;
    padding-bottom: none;
}

form.example button:hover {
    background: #7952b3;
    color: white;
}

.bd-content {
    margin-top: -13px;
}

#right-side-bar {
    border: 2px solid #d9d9d9;
}

@media only screen and (max-width: 600px) {
    #right-side-bar {
        display: none;
    }
}

#bd-versions {
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .bd-search {
        font-size: 0.55rem;
    }
}

.bd-intro {
    padding: 0px 20px 5px;
    /* border: 1px solid rgb(155, 45, 45); */
}

.copyright {
    box-sizing: border-box;
    border-style: solid;
    border-color: teal;
    color: #b19cd9;
}

.title-shadow {
    font-stretch: ultra-expanded;
    text-shadow: 5px 5px 10px #7952b3;
}

.flex-logo-item {
    width: 90px;
    height: 75px;
    padding-left: 10px;
    border: 3px solid #51aaa3;
}

#paragraphs>p {
    text-indent: 50px;
}

.column {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    text-align: justify;
}


/* Extra Small Devices, Phones */

@media only screen and (max-width:768px) {
    .column {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        -moz-column-gap: 50px;
        -webkit-column-gap: 50px;
        column-gap: 50px;
        text-align: justify;
    }
}

.desktop-content {
    display: block;
}

.mobile-content {
    display: none;
}

@media screen and (max-width: 768px) {
    .desktop-content {
        display: none;
    }
    .mobile-content {
        display: block;
    }
}

.tags-bg-color {
    background-color: grey;
}


/* COMPACT CAPTCHA */

.capbox {
    background-color: #BBBBBB;
    background-image: linear-gradient(#BBBBBB, #9E9E9E);
    border: #7952b3 0px solid;
    border-width: 2px 2px 2px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    padding: 5px 8px 5px 8px;
    border-radius: 4px 4px 4px 4px;
    margin-left: 10px;
}

.capbox-inner {
    font: bold 12px arial, sans-serif;
    color: #000000;
    background-color: #E3E3E3;
    margin: 0px auto 0px auto;
    padding: 3px 10px 5px 10px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

#CaptchaDiv {
    color: #000000;
    font: normal 25px Impact, Charcoal, arial, sans-serif;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFFFF;
    user-select: none;
    display: inline-block;
    padding: 3px 14px 3px 8px;
    margin-right: 4px;
    border-radius: 4px;
}

#CaptchaInput {
    border: #7952b3 2px solid;
    margin: 3px 0px 1px 0px;
    width: 105px;
}

.ajax-loader {
    height: 100vh;
    /* to make it responsive */
    width: 100vw;
    /* to make it responsive */
    overflow: hidden;
    /*to remove scrollbars */
    z-index: 99999;
    /*to make it appear on topmost part of the page */
    display: absolute;
    /*to make it visible only on fadeIn() function */
    position: absolute;
    top: 40%;
    left: 40%;
}

.article-title {
    text-align: center;
    text-shadow: 2px 2px 2px #CCCCCC;
    margin-bottom: 20px;
    font-size: 1.25em;
}

@media screen and (max-width: 768px) {
    .article-title {
        text-align: center;
        text-shadow: 2px 2px 2px #CCCCCC;
        margin-bottom: 20px;
        font-size: 1em;
    }
}

.article-content-font-size {
    font-size: 0.95em;
}

@media screen and (max-width: 768px) {
    .article-content-font-size {
        font-size: 0.90em;
    }
}

.tags-border {
    /*border: 1px solid whitesmoke;*/
    border: 1px solid white;
    border-radius: 4px;
    border-width: 1px 1px 1px 1px;
}

.count-icons-border {
    /*border: 1px solid #7952b3;*/
    border: 1px solid #888;
    border-radius: 10px;
    border-width: 1px 4px 4px 1px;
}

.count-icons {
    font-size: 1em;
    color: #7952b3;
    /* font-size: 0.87em;
    color: #7952b3; 
    color: black; */
}

.activity-button {
    width: 60px;
    margin: auto;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: lightgray;
    border: 1px solid transparent;
    /* white-space: nowrap; */
    padding: 6px 6px;
    line-height: 1.428571429;
    border-radius: 10px;
    text-decoration: none;
    font-family: courier;
    border: none;
    transition: .4s ease-in;
}

.like-btn:hover {
    box-shadow: 0px 0px 5px #7952b3;
}

.no-close .ui-dialog-titlebar .ui-dialog-titlebar-close {
    display: none;
}

.share-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.share-modal_delete {
    display: none;
    /* position: relative;
    z-index: 1; 
    overflow: hidden;
    width: 170px;
    height: 120px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);*/
}

.share-modal-content {
    background-color: #fefefe;
    margin: 25% auto;
    /* 25% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 170px;
    height: 60px;
    /* Could be more or less, depending on screen size */
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .share-modal-content {
        background-color: #fefefe;
        margin: 70% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 170px;
        height: 60px;
        /* Could be more or less, depending on screen size */
    }
}

.comments-div {
    background-color: #f7f9f9;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0px;
}

.comments-heading {
    color: #7952b3;
    font-size: 0.80em;
    font-weight: bold;
    font-family: 'Kavivanar';
}

.no-margin {
    margin: 0px;
}

.add-comment-div {
    margin-bottom: 10px;
    position: relative;
    height: 75px;
    width: 600px;
    float: right;
}

.comment-text-area {
    resize: none;
    outline: none;
    overflow: hidden;
    padding: 10px;
    caret-color: #7952b3;
    border-radius: 10px;
    border: solid 1px lightgray;
    height: 75px;
    width: 600px;
    font-size: 0.90em;
}

.add-comment-btn {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 8px;
    bottom: 8px;
}

@media screen and (max-width: 768px) {
    .add-comment-div {
        margin-bottom: 10px;
        position: relative;
        height: 75px;
        width: 95%;
        float: right;
    }
    .comment-text-area {
        resize: none;
        outline: none;
        overflow: hidden;
        overflow-y: auto;
        padding: 10px;
        caret-color: #7952b3;
        border-radius: 10px;
        border: solid 1px lightgray;
        height: 75px;
        width: 95%;
        float: right;
        font-size: 00.80em;
    }
    .add-comment-btn {
        position: absolute;
        float: right;
        width: 16px;
        height: 16px;
        right: 8px;
        bottom: 8px;
    }
}

.icon-button {
    border: none;
    background: none;
}

.comment-added-sucesss {
    margin: 0px;
    color: green;
}

.show-more-posts {
    text-decoration: none;
    background-color: #7952b3;
}

/*input:invalid {
    border: 1px solid lightcoral;
}

textarea:invalid {
    border: 1px solid lightcoral;
}

input:required,
textarea:required {
    border-color: #8000AA;
}*/

.error-msg {
    color: red;
}

.reduce-fs {
    font-size:0.87em;
}

.post-details-border {
    border: 1px solid #888;
    border-radius: 10px;
    border-width: 1px 4px 4px 1px;
    color:#7952b3;
}


.img-container {
    position: relative;
  }
  
  /* Bottom right text */
  .img-text-block {
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: #7952b3;
    color: #fff;
    border-radius: 7px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    opacity: 0.4;
  }

  /* Bottom right text */
  .img-part-text-block {
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: #7952b3;
    color: #fff;
    border-radius: 7px;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    opacity: 0.4;
  }