.listc li
{
   padding-bottom: 10px !important;
}
.bd-sidebar
{
    border-right: 1px solid #d9d9d9;
    
}
form.example button {
    
    width: 20%;
    height: 33px;
    background: white;
    color: grey;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
    position: absolute;
    top: 1px;
    float: right;
    right: 1px;
    padding-bottom: none;

  }
  
  form.example button:hover {
    background: #7952b3;
    color: white;
  }
  
  .bd-content
  {
      margin-top: -13px;
  }
  #right-side-bar
  {
      border: 2px solid #d9d9d9;;
  }
  @media only screen and (max-width: 600px) {
    #right-side-bar
    {
        display: none;
    }
  }