<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>மென்னெழுத்து</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .success {
            color: green;
            background-color: #addfad;
            padding: 10px 10px 1px;
            border-radius: 3px 3px 3px 3px;
        }

        .failure {
            color: red;
            background-color: #f08080;
            padding: 10px 10px 1px;
            border-radius: 3px 3px 3px 3px;
        }

        a {
            color: green;
        }
    </style>
</head>

<body>

    {% if flag %}
        <div class="success">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <b>Success</b>
            <p style="margin-top: 0%;">User account activated successfully. You may now sign in to
                <a href="https://mennezhuthu.com" target="_top">Take me to mennezhuthu.com</a>
            </p>
        </div>
    {% else %}
        <div class="failure">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <b>Failure</b>
            <p style="margin-top: 0%;">Sorry, unable to activate account due to invalid or expired link.
                You may contact help@mennezhuthu.com for further assistance.
            </p>
        </div>
    {% endif %}

</body>

</html>